CompileFlags:
  Add: [-std=c++23,-D__cpp_concepts=202002L,-xc++]  # , -j=15, --malloc-trim, --background-index, --pch-storage=memory /std:c++latest, needed for msvc
Diagnostics:
  Suppress: ['pp_file_not_found_typo_not_fatal']